html,body,div,span,applet,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
	color:#b0b0b0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
}
body {
	line-height:1;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

.clearfix {
	display:inline-block;
}

html[xmlns]  .clearfix {
	display:block;
}

* html .clearfix {
	height:1%;
}

h1 {
	color:#ffffff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
	background: #2a415d;
}

canvas {
	background: #fff;
	margin: 20px auto;
	border: 5px solid #00264d;
	display: block;
}

svg {
	font: 10px sans-serif;
}

svg .chartPath {
	stroke-width: 2;
	stroke:#249bd5;
	stroke-opacity: 0.7;
	fill: #249bd5;
	fill-opacity: 0.2;
}

svg .graphText {
	font-size: 1em;
	font-weight: bold;
	fill:#ffff00;
}

svg .graphTitle {
	font-size: 3em;
	font-weight: normal;
	fill:#000000;
}

svg .yTitle {
	font-size: 2em;
	font-weight: normal;
	fill:#000000;
}

svg .xTitle {
	font-size: 2em;
	font-weight: normal;
	fill:#000000;
}

svg .redFill {
	fill: #ff4c61;
}

svg .redLine{
	 stroke:#ff4c61;
}
 
 svg .redderLine{
	 stroke:#F00;
 }
 svg .orangeLine{
	 stroke:#F90;
 }
 svg .blueLine{
	 stroke:#39F;
 }
 svg .purpleLine{
	 stroke:#C3F;
 }
 svg .greenLine{
	 stroke:#3C6;
 }

 svg .yellowLine{
	stroke:#ffff00;
}

svg .line {
	fill: none;
	stroke: #999;
	stroke-width: 1px;
}

svg .line.dashed {
	stroke-dasharray: 7 7;
}

svg .line.red {
	stroke:#ff7e81;
}

svg .thinline.black {
	stroke:#242424;
}

svg .thickline.black {
	stroke:#000000;
}


